/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    background-color: #0077b5;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
    margin: 0;
}

/* Formulaire d'inscription */
form {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #0077b5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background-color: #005692;
}

/* Liens et boutons */
a {
    color: #0077b5;
    text-decoration: none;
}
.narrow-form {
    max-width: 400px; /* Changer la largeur selon vos besoins */
    margin: 0 auto; /* Pour centrer le formulaire horizontalement */
}

.button {
    background-color: #0077b5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    background-color: #005692;
}

/* Pied de page */
footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}
/* Style pour le champ de sélection (select) */
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Style pour le bouton */
.form-button {
    background-color: #0077b5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase; /* En majuscules */
}

.form-button:hover {
    background-color: #005692;
    /* Ajoutez des styles supplémentaires pour l'état survolé ici */
}
